<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

<bean id="a" class="com.tech.autowired.annotation.Address">
<property name="area_Name" value="Moshi"></property>
<property name="city_Name" value="Pune"></property>

</bean>

<bean id="s" class="com.tech.autowired.annotation.Student">
<property name="s_Id" value="101"></property>
<property name="s_Name" value="Ram"></property>

</bean>


</beans>